<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header class="main-header">
        <section id="logo">
            <img 
                src="{{ '/assets/images/logo.png' | relative_url }}"
                width="100px"
                height="100%"
            >
            <!-- <i id="toggle-mode" class="fas fa-lightbulb"></i> -->
        </section> 
        <nav>
            <ul style="list-style-type: none;">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="video-container">
            <video autoplay muted loop id="background-video">
                <source src="{{ 'assets/images/pink_waves.mp4' | relative_url}} " type="video/mp4">
            </video>
        </div>
    
        {{ content }}
    </main>
    <!-- <footer>
        <p class="footer">&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
    </footer> -->

    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>

    <script>
        document.addEventListener("scroll", function () {
            var banner = document.querySelector(".sticky-banner");
            // var content = document.querySelector(".content");
            
            if (window.scrollY > 100) { // Shrink after scrolling 100px
                banner.classList.add("shrink");
                // content.style.marginLeft = "100px"; // Adjust content margin to match shrunk banner
            } else {
                banner.classList.remove("shrink");
                // content.style.marginLeft = "200px"; // Restore content margin
            }
        });
    </script>
</body>
</html>
